# **Task 1: Data Loading and Data Aggregation**

In [224]:
import pandas as pd

# **Task 1.1**

In [225]:
#Reading the Data

data_18 = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/IT_Salary_Survey_EU_18-20/Survey_2018.csv')
data_19 = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/IT_Salary_Survey_EU_18-20/Survey_2019.csv')
data_20 = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/IT_Salary_Survey_EU_18-20/Survey_2020.csv')

In [226]:
data_18.head()

             Timestamp   Age  ... Company size   Company type
0  14/12/2018 12:41:33  43.0  ...     100-1000        Product
1  14/12/2018 12:42:09  33.0  ...       50-100        Product
2  14/12/2018 12:47:36  32.0  ...        1000+        Product
3  14/12/2018 12:50:15  25.0  ...        1000+        Product
4  14/12/2018 12:50:31  39.0  ...     100-1000  Ecom retailer

[5 rows x 14 columns]

In [227]:
data_19.head()

           Zeitstempel   Age  ... Company business sector   0
0  02.12.2019 11:18:26  33.0  ...                 Tourism NaN
1  02.12.2019 11:18:35  29.0  ...   Scientific Activities NaN
2  02.12.2019 11:18:56   NaN  ...                     NaN NaN
3  02.12.2019 11:19:08  30.0  ...               Transport NaN
4  02.12.2019 11:19:37  32.0  ...              Automotive NaN

[5 rows x 23 columns]

In [228]:
data_20.head()

             Timestamp  ...  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
0  24/11/2020 11:14:15  ...                                                NaN
1  24/11/2020 11:14:16  ...                                                NaN
2  24/11/2020 11:14:21  ...                                                NaN
3  24/11/2020 11:15:24  ...                                                NaN
4  24/11/2020 11:15:46  ...                                                NaN

[5 rows x 23 columns]

# **Task 1.2**

In [229]:
#Data Aggregation

result_data = pd.concat([data_18, data_19, data_20], join='outer')

In [230]:
#presentation of Aggregated Data

result_data.head()

             Timestamp  ...  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR
0  14/12/2018 12:41:33  ...                                                NaN
1  14/12/2018 12:42:09  ...                                                NaN
2  14/12/2018 12:47:36  ...                                                NaN
3  14/12/2018 12:50:15  ...                                                NaN
4  14/12/2018 12:50:31  ...                                                NaN

[5 rows x 42 columns]

# **Task 2: Data Analysis**

# **Task 2.1**

In [231]:
#First 5 Rows Dislay

data_18.head()

             Timestamp   Age  ... Company size   Company type
0  14/12/2018 12:41:33  43.0  ...     100-1000        Product
1  14/12/2018 12:42:09  33.0  ...       50-100        Product
2  14/12/2018 12:47:36  32.0  ...        1000+        Product
3  14/12/2018 12:50:15  25.0  ...        1000+        Product
4  14/12/2018 12:50:31  39.0  ...     100-1000  Ecom retailer

[5 rows x 14 columns]

# **Task 2.2**

In [232]:
#Concise Summary of 2020 Data

data_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 23 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                1253 non-null   object
 1   Age                                                                                                                      1226 non-null   float64
 2   Gender                                                                                                                   1243 non-null   object
 3   City                                                                                                                     1253 non-null   object
 4   Position                                                                                                                 1247 non-null   object
 5   Total years of experience                                                                                                1237 non-null   object
 6   Years of experience in Germany                                                                                           1221 non-null   object
 7   Seniority level                                                                                                          1241 non-null   object
 8   Your main technology / programming language                                                                              1126 non-null   object
 9   Other technologies/programming languages you use often                                                                   1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 11  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 12  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 13  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 14  Number of vacation days                                                                                                  1185 non-null   object
 15  Employment status                                                                                                        1236 non-null   object
 16  Сontract duration                                                                                                        1224 non-null   object
 17  Main language at work                                                                                                    1237 non-null   object
 18  Company size                                                                                                             1235 non-null   object
 19  Company type                                                                                                             1228 non-null   object
 20  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 21  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 22  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
dtypes: float64(4), object(19)
memory usage: 225.3+ KB

# **Observations:**
# **1. There are 19 columns of object datatype.**
# **2. There are 4 columns of float datatype.**
# **3. All the People have responded to 2 columns:** 
# **(i) City** 
# **(ii) Yearly brutto salary (without bonus and stocks) in EUR**
# **4. Lowest people responded to column - Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week**

# **Task 2.3**

In [233]:
#Descriptive Statistics of the 2018 Survey Data

data_18.describe()

              Age  ...  Salary two years ago
count  672.000000  ...            463.000000
mean    32.183036  ...          58013.475162
std      5.107268  ...          20413.048908
min     21.000000  ...          10001.000000
25%     29.000000  ...          48000.000000
50%     32.000000  ...          56000.000000
75%     35.000000  ...          67000.000000
max     60.000000  ...         150000.000000

[8 rows x 5 columns]

# **Task 2.4**

In [234]:
#Number of Missing values in each column of the 2018 Survey Data

data_18.isnull().sum()

Timestamp                               0
Age                                    93
Gender                                 14
City                                   29
Position                               28
Years of experience                    33
Your level                             22
Current Salary                         15
Salary one year ago                   169
Salary two years ago                  302
Are you getting any Stock Options?     23
Main language at work                  15
Company size                           15
Company type                           35
dtype: int64

In [235]:
#People responded to survey in 2018

len(data_18.index)

765

In [236]:
#People responded to survey in 2019

len(data_19.index)

991

In [237]:
#People responded to survey in 2020

len(data_20.index)

1253

# **Number of People Responded to the survey Increased over time.**

# **Task 2.5**

In [238]:
#Displaying Unique values of 2018 Data

data_18.nunique()

Timestamp                             761
Age                                    33
Gender                                  2
City                                   74
Position                              397
Years of experience                    30
Your level                              3
Current Salary                        139
Salary one year ago                   125
Salary two years ago                  105
Are you getting any Stock Options?      2
Main language at work                   7
Company size                            5
Company type                           49
dtype: int64

In [239]:
#Displaying Unique values of 2019 Data

data_19.nunique()

Zeitstempel                                                                                             991
Age                                                                                                      33
Gender                                                                                                    2
City                                                                                                     76
Seniority level                                                                                           6
Position (without seniority)                                                                             51
Years of experience                                                                                      26
Your main technology / programming language                                                              42
Yearly brutto salary (without bonus and stocks)                                                         173
Yearly bonus                                                                                             91
Yearly stocks                                                                                            61
Yearly brutto salary (without bonus and stocks) one year ago. Only answer if staying in same country    128
Yearly bonus one year ago. Only answer if staying in same country                                        64
Yearly stocks one year ago. Only answer if staying in same country                                       31
Number of vacation days                                                                                  32
Number of home office days per month                                                                     21
Main language at work                                                                                    11
Company name                                                                                            220
Company size                                                                                              5
Company type                                                                                              7
Сontract duration                                                                                         6
Company business sector                                                                                  52
0                                                                                                         0
dtype: int64

In [240]:
#Displaying Unique values of 2020 Data

data_20.nunique()

Timestamp                                                                                                                  1248
Age                                                                                                                          40
Gender                                                                                                                        3
City                                                                                                                        119
Position                                                                                                                    148
Total years of experience                                                                                                    48
Years of experience in Germany                                                                                               53
Seniority level                                                                                                              24
Your main technology / programming language                                                                                 256
Other technologies/programming languages you use often                                                                      562
Yearly brutto salary (without bonus and stocks) in EUR                                                                      201
Yearly bonus + stocks in EUR                                                                                                168
Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                    147
Annual bonus+stocks one year ago. Only answer if staying in same country                                                    131
Number of vacation days                                                                                                      45
Employment status                                                                                                            11
Сontract duration                                                                                                             3
Main language at work                                                                                                        14
Company size                                                                                                                  5
Company type                                                                                                                 63
Have you lost your job due to the coronavirus outbreak?                                                                      10
Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                            23
Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR      59
dtype: int64

In [241]:
df = data_20['Number of vacation days']

In [242]:
#Unique Values for "Number of vacation days" for 2020 data

df.unique()

array(['30', '28', '24', '29', '27', nan, '25', '31', '26', '60', '20',
       '22', '38', '35', '32', '40', '365', '36', '23', '33', '21',
       'unlimited', '14', 'unlimited ', '(no idea)',
       '30 in contract (but theoretically unlimited)', '0', 'Unlimited ',
       '15', '16', '3', '45', '~25', '12', '50', '23+', '99', 'Unlimited',
       '24 labour days', '37.5', '1', '5', '37', '39', '34', '10'],
      dtype=object)

In [243]:
#Number of unique values for "Number of vacation days" for 2020 data

df.nunique()

45

# **Task 3: Data Cleaning**

# **Task 3.1**

In [244]:
#Renaming the column

data_20.rename(columns = {'Position ':'Position'}, inplace = True)

# **Task 3.2**

In [245]:
data_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 23 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                1253 non-null   object
 1   Age                                                                                                                      1226 non-null   float64
 2   Gender                                                                                                                   1243 non-null   object
 3   City                                                                                                                     1253 non-null   object
 4   Position                                                                                                                 1247 non-null   object
 5   Total years of experience                                                                                                1237 non-null   object
 6   Years of experience in Germany                                                                                           1221 non-null   object
 7   Seniority level                                                                                                          1241 non-null   object
 8   Your main technology / programming language                                                                              1126 non-null   object
 9   Other technologies/programming languages you use often                                                                   1096 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 11  Yearly bonus + stocks in EUR                                                                                             829 non-null    object
 12  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 885 non-null    float64
 13  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 614 non-null    object
 14  Number of vacation days                                                                                                  1185 non-null   object
 15  Employment status                                                                                                        1236 non-null   object
 16  Сontract duration                                                                                                        1224 non-null   object
 17  Main language at work                                                                                                    1237 non-null   object
 18  Company size                                                                                                             1235 non-null   object
 19  Company type                                                                                                             1228 non-null   object
 20  Have you lost your job due to the coronavirus outbreak?                                                                  1233 non-null   object
 21  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        373 non-null    float64
 22  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  462 non-null    object
dtypes: float64(4), object(19)
memory usage: 225.3+ KB

In [246]:
#Fill missing numerical values with -9999

data_20['Age']=data_20['Age'].fillna(-9999)
data_20['Yearly brutto salary (without bonus and stocks) in EUR']=data_20['Yearly brutto salary (without bonus and stocks) in EUR'].fillna(-9999)
data_20['Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country']=data_20['Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country'].fillna(-9999)
data_20['Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week']=data_20['Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week'].fillna(-9999)

In [247]:
#Filling missing categorical values with 'MISSING'

data_20=data_20.fillna('MISSING')

In [248]:
data_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1253 entries, 0 to 1252
Data columns (total 23 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   Timestamp                                                                                                                1253 non-null   object
 1   Age                                                                                                                      1253 non-null   float64
 2   Gender                                                                                                                   1253 non-null   object
 3   City                                                                                                                     1253 non-null   object
 4   Position                                                                                                                 1253 non-null   object
 5   Total years of experience                                                                                                1253 non-null   object
 6   Years of experience in Germany                                                                                           1253 non-null   object
 7   Seniority level                                                                                                          1253 non-null   object
 8   Your main technology / programming language                                                                              1253 non-null   object
 9   Other technologies/programming languages you use often                                                                   1253 non-null   object
 10  Yearly brutto salary (without bonus and stocks) in EUR                                                                   1253 non-null   float64
 11  Yearly bonus + stocks in EUR                                                                                             1253 non-null   object
 12  Annual brutto salary (without bonus and stocks) one year ago. Only answer if staying in the same country                 1253 non-null   float64
 13  Annual bonus+stocks one year ago. Only answer if staying in same country                                                 1253 non-null   object
 14  Number of vacation days                                                                                                  1253 non-null   object
 15  Employment status                                                                                                        1253 non-null   object
 16  Сontract duration                                                                                                        1253 non-null   object
 17  Main language at work                                                                                                    1253 non-null   object
 18  Company size                                                                                                             1253 non-null   object
 19  Company type                                                                                                             1253 non-null   object
 20  Have you lost your job due to the coronavirus outbreak?                                                                  1253 non-null   object
 21  Have you been forced to have a shorter working week (Kurzarbeit)? If yes, how many hours per week                        1253 non-null   float64
 22  Have you received additional monetary support from your employer due to Work From Home? If yes, how much in 2020 in EUR  1253 non-null   object
dtypes: float64(4), object(19)
memory usage: 225.3+ KB

# **Task 3.3**

In [249]:
#Dropping the timestamp column from all the three years data

data_18 = data_18.drop('Timestamp',axis=1)
data_19 = data_19.drop('Zeitstempel',axis=1)
data_20 = data_20.drop('Timestamp',axis=1)

# **Task 4: Data Visualization using Plotly**

#**Task 4.1**

In [250]:
import plotly.express as px

In [251]:
dx = data_19['Company type']

In [252]:
dx.unique()

array(['Startup', 'Product', nan, 'Consulting / Agency',
       'Bodyshop / Outsource', 'University', 'Bank', 'Outsource'],
      dtype=object)

In [253]:
#Pie chart to analyse the company type in year 2019

fig = px.pie(dx,names='Company type')
fig.show(renderer='colab')

#**Consulting / Agency companies are not more popular than Startups**

#**Task 4.2**

In [254]:
results_18 = pd.DataFrame()
for x in range(0,100):
  df1 = data_18[data_18['Years of experience'] == x] 
  y = df1["Current Salary"].mean()  
  tempResults = pd.DataFrame({'Current Salary':[y], 'Years of experience':[x]}) 
  results_18 = pd.concat([results_18,tempResults])
  results_18 = results_18[['Current Salary','Years of experience']]

In [255]:
results_18 = results_18.apply (pd.to_numeric, errors='coerce')
results_18 = results_18.dropna()
results_18

   Current Salary  Years of experience
0    60733.333333                    0
0    45915.000000                    1
0    41587.176471                    2
0    53116.794872                    3
0    58879.891304                    4
0    61113.372093                    5
0    65813.461538                    6
0    66776.785714                    7
0    71959.677419                    8
0    75228.205128                    9
0    73697.257143                   10
0    75347.222222                   11
0    72143.181818                   12
0    81857.142857                   13
0    79500.000000                   14
0    74892.307692                   15
0    85500.000000                   16
0    73500.000000                   17
0    88078.571429                   18
0    89500.000000                   19
0    89000.000000                   20
0    90000.000000                   21
0   109000.000000                   25
0    64000.000000                   30
0    58000.000000                   38

In [256]:
fig = px.line(results_18, x='Years of experience', y='Current Salary')
fig.show(renderer='colab')

#**Task 4.3**

In [257]:
results_19 = pd.DataFrame()
for x in range(0,100):
  df1 = data_19[data_19['Years of experience'] == x] 
  y = df1["Yearly brutto salary (without bonus and stocks)"].median()  
  tempResults = pd.DataFrame({'Yearly brutto salary (without bonus and stocks)':[y], 'Years of experience':[x]}) 
  results_19 = pd.concat([results_19,tempResults])
  results_19 = results_19[['Yearly brutto salary (without bonus and stocks)','Years of experience']]

In [258]:
results_19 = results_19.apply (pd.to_numeric, errors='coerce')
results_19 = results_19.dropna()
results_19

   Yearly brutto salary (without bonus and stocks)  Years of experience
0                                          55000.0                    0
0                                          46800.0                    1
0                                          52500.0                    2
0                                          55000.0                    3
0                                          62000.0                    4
0                                          65000.0                    5
0                                          68000.0                    6
0                                          67000.0                    7
0                                          74500.0                    8
0                                          74500.0                    9
0                                          76500.0                   10
0                                          76500.0                   11
0                                          77700.0                   12
0                                          70000.0                   13
0                                          80000.0                   14
0                                          75000.0                   15
0                                          72000.0                   16
0                                          75000.0                   17
0                                          83000.0                   18
0                                          73000.0                   19
0                                          78000.0                   20
0                                         100500.0                   22
0                                         115000.0                   24
0                                          79800.0                   25
0                                         110000.0                   28
0                                          60000.0                   30

In [259]:
results_20 = pd.DataFrame()
data_20x = data_20.apply (pd.to_numeric, errors='coerce')
for x in range(0,100):
  df1 = data_20x[data_20x['Total years of experience'] == x] 
  y = df1["Yearly brutto salary (without bonus and stocks) in EUR"].median()  
  tempResults = pd.DataFrame({'Yearly brutto salary (without bonus and stocks) in EUR':[y], 'Total years of experience':[x]}) 
  results_20 = pd.concat([results_20,tempResults])
  results_20 = results_20[['Yearly brutto salary (without bonus and stocks) in EUR','Total years of experience']]

In [260]:
results_20 = results_20.dropna()
results_20

   Yearly brutto salary (without bonus and stocks) in EUR  Total years of experience
0                                            44000.0                               0
0                                            48000.0                               1
0                                            50000.0                               2
0                                            56000.0                               3
0                                            60000.0                               4
0                                            65000.0                               5
0                                            68000.0                               6
0                                            70000.0                               7
0                                            68000.0                               8
0                                            74000.0                               9
0                                            75000.0                              10
0                                            75000.0                              11
0                                            75000.0                              12
0                                            83000.0                              13
0                                            80000.0                              14
0                                            78000.0                              15
0                                            83000.0                              16
0                                            76000.0                              17
0                                            85500.0                              18
0                                            87000.0                              19
0                                            80000.0                              20
0                                            80000.0                              21
0                                            70000.0                              22
0                                           100000.0                              23
0                                           130000.0                              24
0                                            75000.0                              25
0                                            93000.0                              26
0                                            73500.0                              27
0                                            78500.0                              28
0                                            28800.0                              29
0                                            64500.0                              30
0                                           110000.0                              31
0                                            70000.0                              40

In [261]:
results_18 = results_18.rename(columns={"Current Salary": "2018"})
results_19 = results_19.rename(columns={"Yearly brutto salary (without bonus and stocks)": "2019"})
results_20 = results_20.rename(columns={"Yearly brutto salary (without bonus and stocks) in EUR": "2020"})

In [262]:
fig = px.line(results_18, x="Years of experience", y="2018", labels={"2018":"Salary"})
fig.add_scatter(x=results_19['Years of experience'], y=results_19['2019'])
fig.add_scatter(x=results_20['Total years of experience'], y=results_20['2020'])
fig.show(renderer='colab')

#Blue or initial line represents data of 2018
#Trace 1 represents data of 2019
#Trace 2 represents data of 2020

#**Task 4.4**

In [263]:
data_20y = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/IT_Salary_Survey_EU_18-20/Survey_2020.csv')
df = data_20y['Your main technology / programming language']
df

0                    TypeScript
1                          Ruby
2       Javascript / Typescript
3                    Javascript
4                       C# .NET
                 ...
1248                       Java
1249          consumer analysis
1250                        PHP
1251                 JavaScript
1252                       yaml
Name: Your main technology / programming language, Length: 1253, dtype: object

In [264]:
df.value_counts()

Java                        184
Python                      164
PHP                          56
C++                          38
JavaScript                   34
                           ...
PHP/MySQL                     1
pythin                        1
JavaScript/TypeScript         1
Frontend: react, node.js      1
Js, TypeScript, Angular       1
Name: Your main technology / programming language, Length: 256, dtype: int64

In [265]:
df = df.value_counts().rename_axis('Technology').reset_index(name='counts')
print (df)

                   Technology  counts
0                        Java     184
1                      Python     164
2                         PHP      56
3                         C++      38
4                  JavaScript      34
..                        ...     ...
251                 PHP/MySQL       1
252                    pythin       1
253     JavaScript/TypeScript       1
254  Frontend: react, node.js       1
255   Js, TypeScript, Angular       1

[256 rows x 2 columns]

In [266]:
df = df.dropna()

In [267]:
fig = px.bar(df, x='Technology', y='counts')
fig.show(renderer='colab')

#**Most Popular technology is Java**
#**There are so many technologies which get less than 4 responses, some of which are Kubernetes, Golang, Haskell etc.**

#**Task 4.5**

In [268]:
data_20x = pd.read_csv('https://raw.githubusercontent.com/dphi-official/Datasets/master/IT_Salary_Survey_EU_18-20/Survey_2020.csv')

In [269]:
dx = data_20x['Gender']
dx.unique()

array(['Male', 'Female', nan, 'Diverse'], dtype=object)

In [270]:
#Pie chart to analyse the gender ratio in year 2020 "only those who responded"
dx = dx.dropna()

fig = px.pie(dx,names='Gender')
fig.show(renderer='colab')